.home-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    .left-container{
        background-color: #1E1E1E;
        display: flex;
        justify-content: center;
        align-items: center;
        .items-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            button{
                cursor: pointer;
                height: 50px;
                width: 90%;
                border-radius: 25px;
                border:none;
                transition-duration: 500ms;
                font-size: 20px;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            button:hover{
                box-shadow: 2px 2px 20px grey;
            }
        }
    }
}